## special diffs
*.tif     diff=image
*.png	  diff=image

## annex conf https://git-annex.branchable.com/tips/largefiles/
*         annex.largefiles=nothing
*.tif     annex.largefiles=anything
*.png     annex.largefiles=(exclude=czi2stack/slides/ord/reg/*.png)
