## ignore auto created files (but not those that might undergo man. adj.)

## output of parallel
*.out
## links to orig CZIs
*.czi
## CZI info text files
*.info
## MF empty target for thump-nail TIF extraction
*.th
## auto extracted TIFs
*.tif
## never ignore CTRs containing the result of man. center marking
!*.ctr
## MF empty target for actual slice extraction (PNGs)
*.slices
## auto extracted PNGs
*.png
## never ignore LSTs containing possible man. adj. of the slice order
!*.lst
## never ignore TXTs containing the result of man. inital ali.
!*.txt
## ignore *.log/IterationInfo.*.txt (part of *.log)
IterationInfo.*.txt
